# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Foundry generated docs (not our project docs)
docs/book/

# Dotenv file
.env
